img {
    border-radius: 50%;
}
.datetime {
    font-style: italic;
}
.rando {
    margin: 50px;
    float: left;
}
.rando-user {
    float: left;
    display: inline-block;
}
.rando-stranger {
    margin-left: 200px;
    display: inline-block;
}
.rando-pair {
    margin-bottom: 80px;
}
.info {
    text-align: center;
    margin-bottom: 30px;
}
.user-info-header {
    margin-bottom: 120px;
}
.not-important {
    font-size: 0.7em;
}
#auth-container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
}
.pie {
    width: 590px;
    height: 500px;
    float: left;
}
#log td {
    white-space: pre;
}

.star-active {
    color: gold !important;
}
.star {
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    color:#ddd;
    text-decoration: none !important;
}
.star:before {
    content:'★';
}
