<h2 class="sub-header">{{log.name}}</h2>

<div class="user-info-header">
    <table id="log" class="table table-striped">
        <tr ng-repeat="(key, value) in log">
            <td> {{key | lowercase}} </td> <td> {{ value }} </td>
        </tr>
    </table>
    <button class="btn btn-default" data-ng-click="deleteLogFile(log.name);">Delete</button>
    <hr/>
</div>


<div data-ng-repeat="rando in user.randos">
  <div class="rando-pair">
    <div class="rando-user">
      <div class="info">
            <h2>User</h2>
            <h3 class="user"><a href="#/user/{{ rando.user.email }}">{{ rando.user.email }}</a></h3>
            <div class="datetime">{{ rando.user.creationPritty }}</div>
            <div class="randoId not-important">id: {{ rando.user.randoId }}</div>
            <div class="location not-important">lat: {{ rando.user.location.latitude}} long: {{ rando.user.location.longitude }}</div>
        </div>
        <img src="{{ rando.user.imageSizeURL.small }}" data-ng-click="flipRando(rando.user, $event)"/>
    </div>

    
    <div class="rando-stranger">
      <div class="info">
            <h2>Stranger</h2>
            <h3 class="user"><a href="#/user/{{ rando.stranger.email }}">{{ rando.stranger.email }}</a></h3>
            <div class="datetime">{{ rando.stranger.creationPritty }}</div>
            <div class="randoId not-important">id: {{ rando.stranger.randoId }}</div>
            <div class="location not-important">lat: {{ rando.stranger.location.latitude}} long: {{ rando.stranger.location.longitude }}</div>
        </div>
        <img src="{{ rando.stranger.imageSizeURL.small }}" data-ng-click="flipRando(rando.stranger, $event)"/>
    </div>
</div>
<hr/>
</div>
