<h2 class="sub-header">Logs</h2>
<div class="table-responsive">
    <table ng-table="tableParams" show-filter="true" class="table table-striped">
        <tr ng-repeat="log in $data">
            <td data-title="'Email'" filter="{ 'email': 'text' }" sortable="'email'" >
                <a href="#/log/{{log}}">{{log}}</a>
            </td>
            <td data-title="'Delete'" >
                <button class="btn btn-default" data-ng-click="deleteLogFile(log);">Delete</button>
            </td>
        </tr>
    </table>
</div>
