<h2 class="sub-header">{{user.email}} - {{user.randos.length}}</h2>

<div class="user-info-header">
  <table class="table table-striped">
    <tr><td>id</td><td>{{user._id}}</td></tr>
    <tr><td>authToken</td><td>{{user.authToken}}</td></tr>
    <tr><td>ip</td><td>{{user.ip}}</td></tr>
    <tr><td>ban</td><td>{{user.banPritty}}</td></tr>
    <tr><td>googleId</td><td>{{user.googleId}}</td></tr>
    <tr><td>facebookId</td><td>{{user.facebookId}}</td></tr>
    <tr><td>Not paired randos</td><td>{{user.notPairedRandos}}</td></tr>
    </table>
        <div data-ng-if="!user.ban || user.ban == 0">
            <button class="btn btn-default" data-ng-click="banOrUnBanUser(user.email, $event);">Ban {{ user.email }}</button>
        </div>
        <div data-ng-if="user.ban > 0">
            <button class="btn btn-default" data-ng-click="banOrUnBanUser(user.email, $event);">Unban {{ user.email }}</button>
        </div>
    <hr/>
</div>


<div data-ng-repeat="rando in user.randos">
  <div class="rando-pair">
    <div class="rando-user">
      <div class="info">
            <h2>User</h2>
            <a href="javascript:void(0);" data-ng-click="starOrUnstar(user.email, rando.user.randoId, $event)" class="star"></a>
            <h3 class="user"><a href="#/user/{{ rando.user.email }}">{{ rando.user.email }}</a></h3>
            <div class="datetime">{{ rando.user.creationPritty }}</div>
            <div class="randoId not-important">id: {{ rando.user.randoId }}</div>
            <div class="location not-important">lat: {{ rando.user.location.latitude}} long: {{ rando.user.location.longitude }}</div>
            <div data-ng-if="rando.user.delete != 1">
                <button class="btn btn-default not-important" data-ng-click="deleteOrUnDeleteRando(user.email, rando.user.randoId, $event);">Delete {{ rando.user.randoId}}</button>
            </div>
            <div data-ng-if="rando.user.delete == 1">
                <button class="btn btn-default not-important" data-ng-click="deleteOrUnDeleteRando(user.email, rando.user.randoId, $event);">Undelete {{ rando.user.randoId}}</button>
            </div>
        </div>
        <img src="{{ rando.user.imageSizeURL.small }}" data-ng-click="flipRando(rando.user, $event)"/>
    </div>

    
    <div class="rando-stranger">
      <div class="info">
            <h2>Stranger</h2>
            <a href="javascript:void(0);" data-ng-click="starOrUnstar(user.email, rando.stranger.randoId, $event)" class="star"></a>
            <h3 class="user"><a href="#/user/{{ rando.stranger.email }}">{{ rando.stranger.email }}</a></h3>
            <div class="datetime">{{ rando.stranger.creationPritty }}</div>
            <div class="randoId not-important">id: {{ rando.stranger.randoId }}</div>
            <div class="location not-important">lat: {{ rando.stranger.location.latitude}} long: {{ rando.stranger.location.longitude }}</div>
            <div data-ng-if="rando.stranger.delete != 1">
                <button class="btn btn-default not-important" data-ng-click="deleteOrUnDeleteRando(user.email, rando.stranger.randoId, $event);">Delete {{ rando.stranger.randoId }}</button>
            </div>
            <div data-ng-if="rando.stranger.delete == 1">
                <button class="btn btn-default not-important" data-ng-click="deleteOrUnDeleteRando(user.email, rando.stranger.randoId, $event);">Undelete {{ rando.stranger.randoId }}</button>
            </div>
        </div>
        <img src="{{ rando.stranger.imageSizeURL.small }}" data-ng-click="flipRando(rando.stranger, $event)"/>
    </div>
</div>
<hr/>
</div>
