<h2 class="sub-header">{{ exchange.length }} logs ready</h2>

<button type="btn" ng-click="prevExchange()">Prev</button>{{ exchangeIndex + 1 }} / {{ exchange.length }}<button type="btn" ng-click="nextExchange()">Next</button>

<hr/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>All randos:</h3>
      <div data-ng-repeat="rando in exchange[exchangeIndex].randos">
        <img class="exchange-rando" ng-class="{'chooser': isRandoChooser(rando.randoId, exchange[exchangeIndex]), 'choosen': rando.chosenRandoId}" src="http://{{getDevPrefix()}}img.s.rando4me.s3.amazonaws.com/{{rando.randoId}}.jpg"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Chooser:</h3>
        <img class="exchange-rando" src="http://{{getDevPrefix()}}img.s.rando4me.s3.amazonaws.com/{{exchange[exchangeIndex].chooserId}}.jpg"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Marks:</h3>
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>randoId</th>
          <th ng-repeat="metrica in getAllMetrics(exchange[exchangeIndex])">{{metrica}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="randoId in getRandosIds(exchange[exchangeIndex])"> 
          <th scope="row">{{ getRandoTitleByRandoId(randoId, exchange[exchangeIndex]) }}</th> 
            <td ng-repeat="mark in getMarksForRandoId(randoId, exchange[exchangeIndex])">{{mark.mark}}</td>
      </tbody> 
      </table>
    </div>
  </div>
</div>
