<h2 class="sub-header">{{user.email}} - {{user.randos.length}}</h2>

<div class="user-info-header">
  <table class="table table-striped">
    <tr><td>id</td><td>{{user._id}}</td></tr>
    <tr><td>authToken</td><td>{{user.authToken}}</td></tr>
    <tr><td>ip</td><td>{{user.ip}}</td></tr>
    <tr><td>ban</td><td>{{user.banPritty}}</td></tr>
    <tr><td>googleId</td><td>{{user.googleId}}</td></tr>
    <tr><td>facebookId</td><td>{{user.facebookId}}</td></tr>
  </table>
  <div data-ng-if="!user.ban || user.ban == 0">
    <button class="btn btn-default" data-ng-click="banOrUnBanUser(user.email, $event);">Ban {{ user.email }}</button>
  </div>
  <div data-ng-if="user.ban > 0">
    <button class="btn btn-default" data-ng-click="banOrUnBanUser(user.email, $event);">Unban {{ user.email }}</button>
  </div>
  <hr/>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">Stranger (IN):</h2>
      <div data-ng-repeat="rando in user.in">
        <rando-widget></rando-widget>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">User (OUT):</h2>
      <div data-ng-repeat="rando in user.out">
        <rando-widget></rando-widget>
      </div>
    </div>
  </div>
</div>
<hr/>
